@font-face {
  font-family: "Simpsons";
  src: url("/Users/juancuadra/prework/code/webfontkit-20171030-124548/simpsonfont_demo-webfont.woff")
    format("woff");
}

body {
  background-image: url(http://vignette4.wikia.nocookie.net/simpsons/images/a/a2/Wiki-background_update_2.jpg/revision/latest?cb=20111014041518);
  background-size: cover;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Simpsons";
  font-size: 6vw;
  margin-top: -2vw;
  margin-bottom: 3vw;
  color: white;ow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

h2 {
  font-family: "Simpsons";
  font-size: 60px;
  color: #fdd33b;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  font-family: "Architects Daughter", cursive;
  font-size: 35px;
  color: white;
}

h4 {
  font-family: "Simpsons";
  font-size: 2vw;
  color: white;
  margin-top: -2vw;
  margin-bottom: 2vw;
}

h4 span {
  font-size: 4vw;
  color: #5263aa;
  padding: 0px 10px;
}

.splash-screen {
  /* background-color: #fdd33b; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.splash-screen button {
  font: "Simpsons";
  padding: 10px 30px;
  border: 0.5vw solid;
  border-radius: 8px;
  border-color: white;
  background-color: transparent;
}

/* homer */

.face-container {
  position: relative;
  width: 30vw;
  height: 30vw;
}

.hair1 {
  position: absolute;
  z-index: 2;
  top: -21vw;
  transform: rotate(-18deg);
  left: -2.2vw;
  height: 9vw;
  width: 11vw;
  border-top: 0.4vw solid black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: transparent;
}

.hair2 {
  position: absolute;
  z-index: 2;
  top: -20.7vw;
  left: -5.2vw;
  height: 9vw;
  transform: rotate(-18deg);
  width: 11vw;
  border-top: 0.4vw solid black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: transparent;
}

.forehead {
  position: absolute;
  z-index: 1;
  top: -20vw;
  left: -9.2vw;
  height: 34vw;
  width: 28vw;
  transform: rotate(-18deg);
  border-radius: 60%/50%;
  background-color: #fdd33b;
  border: 0.5vw solid black;
  border-bottom: none;
  border-left: none;
}

.forehead-conceal {
  width: 3.2vw;
  /* border: 0.03vw solid; */
  height: 2.9vw;
  top: -8vw;
  border-radius: 22%;
  left: 14.95vw;
  position: absolute;
  transform: rotate(-18deg);
  background-color: #fdd33b;
  z-index: 2;
}

.forehead-detail {
  width: 3.2vw;
  height: 3.9vw;
  top: -7vw;
  border-right: 0.5vw solid black;
  border-top: 0.5vw solid black;
  border-bottom: 0.5vw solid black;
  border-radius: 0px 100px 100px 0px;
  left: 16.5vw;
  transform: rotate(-18deg);
  /* margin-top: -70px; */
  /* margin-bottom: -12px; */
  background-color: #fdd33b;
  z-index: 1;
  position: absolute;
}

.face-top {
  position: absolute;
  /* z-index: 1; */
  top: -4vw;
  width: 30vw;
  height: 10vw;
}

.eye-container {
  position: absolute;
  width: 12vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0.5vw solid black;
  border-radius: 50%;
}

#left {
  left: 0;
  z-index: 10;
}

#right {
  left: 11vw;
  z-index: 1;
}

.pupil {
  width: 2vw;
  height: 2vw;
  background-color: black;
  border-radius: 50%;
}

.face-bottom {
  position: absolute;
  /* background-color: blue; */
  z-index: 6;
  top: 5vw;
  width: 30vw;
  height: 30vw;
}

.nose {
  width: 11.2vw;
  height: 3.9vw;
  border-right: 0.5vw solid black;
  border-top: 0.5vw solid black;
  border-bottom: 0.5vw solid black;
  border-radius: 0px 100px 100px 0px;
  left: 10vw;
  /* margin-top: -70px; */
  /* margin-bottom: -12px; */
  background-color: #fdd33b;
  z-index: 2;
  position: absolute;
}

.mouth-inside {
  position: absolute;
  width: 14vw;
  height: 2vw;
  left: 4.5vw;
  top: 12.9vw;
  background-color: black;
  border-radius: 26%;
  border-bottom-right-radius: 68%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotate(0deg);
  z-index: 8;
}

.tongue {
  position: absolute;
  width: 8vw;
  height: 0vw;
  left: 4.5vw;
  top: 15.5vw;
  background-color: #e54b4b;
  border: 0.4vw solid black;
  border-radius: 26%;
  border-bottom-right-radius: 68%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotate(10deg);
  z-index: 9;
}

.mouth-container {
  height: 21vw;
  width: 19vw;
  top: 4.4vw;
  background-color: #d0af80;
  border-radius: 50% 40% 50% 50%;
  border-bottom: 0.5vw solid black;
  border-right: 0.5vw solid black;
  border-top: 0.5vw solid black;
  z-index: 2;
  position: absolute;
}

.detail1 {
  position: absolute;
  width: 19vw;
  height: 7vw;
  left: 5vw;
  top: 9.9vw;
  background-color: #cfae83;
  border-radius: 59%;
  border-bottom: 0.5vw solid black;
  border-right: 0.5vw solid black;
  border-top: 0.5vw solid black;
  border-left: 0.5vw solid black;
  transform: rotate(-6deg);
  z-index: 10;
}

.detail2 {
  /* display: none; */
  position: absolute;
  width: 10vw;
  height: 12vw;
  left: 12vw;
  top: 3.9vw;
  background-color: #cfae83;
  border-radius: 40%;
  /* border-bottom: 0.5vw solid black; */
  border-right: 0.5vw solid black;
  border-top: 0.5vw solid black;
  transform: rotate(-21deg);
  z-index: 1;
}

.detail3 {
  width: 5vw;
  height: 7vw;
  top: 14vw;
  left: 15vw;
  position: absolute;
  background-color: #cfae83;
  border-radius: 60%;
  border-bottom: 0.5vw solid black;
  border-right: 0.5vw solid black;
  border-top: 0.5vw solid black;
  transform: rotate(31deg);
  z-index: 7;
}

.end-mouth {
  position: absolute;
  top: 13.7vw;
  left: 4.5vw;
  width: 1vw;
  height: 3vw;
  /* background-color: black; */
  border-radius: 53%;
  border-left: 0.5vw solid black;
  /* border-right: 0.5vw solid black; */
  /* border-top: 0.5vw solid black; */
  transform: rotate(54deg);
  z-index: 12;
}

.conceal-mouth1 {
  left: 9vw;
  top: 4.9vw;
  width: 11vw;
  height: 8vw;
  position: absolute;
  background-color: #cfae83;
  border-radius: 41%;
  z-index: 10;
}

.conceal-mouth2 {
  left: 3.6vw;
  top: 7.9vw;
  width: 19vw;
  height: 8vw;
  transform: rotate(0deg);
  position: absolute;
  background-color: #cfae83;
  border-radius: 41%;
  border-bottom-left-radius: 41%;
  border-top-right-radius: 41%;
  z-index: 11;
}

.conceal-mouth3 {
  left: 12.1vw;
  /* border: 0.02vw solid black; */
  top: 17.1vw;
  width: 6vw;
  height: 5.03vw;
  position: absolute;
  background-color: #cfae83;
  border-radius: 41%;
  z-index: 7;
}

.neck {
  position: absolute;
  z-index: 1;
  top: 10vw;
  width: 16vw;
  height: 125vw;
  background-color: #fdd33b;
  border-right: 0.5vw solid black;
}

.collar-left {
  position: absolute;
  top: 32vw;
  left: -13vw;
  width: 22vw;
  height: 12vw;
  background-color: white;
  transform: rotate(15deg);
  border-radius: 50%/10%;
  border: 0.5vw solid black;
  z-index: 9;
}

.collar-right {
  top: 34vw;
  left: 7vw;
  width: 13vw;
  height: 12vw;
  position: absolute;
  transform: rotate(-20deg);
  background-color: white;
  border: 0.5vw solid black;
  border-radius: 50%/10%;
  border-bottom: none;
}

.body-top {
  top: 42vw;
  left: -5vw;
  width: 24vw;
  height: 17vw;
  position: absolute;
  /* transform: rotate(-20deg); */
  background-color: white;
  border: 0.5vw solid black;
  border-radius: 80%/10%;
  border-bottom: none;
  z-index: 2;
}

.body-bottom {
  top: 54vw;
  left: -11vw;
  width: 48vw;
  height: 92vw;
  position: absolute;
  /* transform: rotate(-20deg); */
  background-color: white;
  border: 0.5vw solid black;
  border-radius: 48%;
  border-bottom: none;
  z-index: 2;
}

.body-conceal {
  top: 50vw;
  left: -4vw;
  width: 21vw;
  height: 15vw;
  position: absolute;
  background-color: white;
  border-radius: 88%;
  border-bottom: none;
  z-index: 3;
}

.donut-animate {
  background-image: url("https://orig00.deviantart.net/af88/f/2015/046/9/9/donut_cartoon_by_thegoldenbox-d8i3l4q.png");
  background-size: 100%;
  position: absolute;
  margin-right: -17.5vw;
  width: 17.5vw;
  height: 17.5vw;
  z-index: 0;
}

#broccoli-animate {
  background-image: url("https://image.flaticon.com/icons/svg/372/372624.svg");
  background-size: 100%;
  position: absolute;
  margin-right: -17.5vw;
  width: 17.5vw;
  height: 17.5vw;
  z-index: 0;
}

.donut {
  width: 100%;
}

.healthy-points {
  position: fixed;
  top: 1em;
  right: 2em;
}

.game-over {
  margin: 0px;
  /* margin-bottom: 35vw; */
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

.graphic-container {
  width: 35vw;
  height: 31vw;
  position: relative;
}

.tv-container {
  position: absolute;
}

.gif {
  width: 18vw;
  position: absolute;
  top: 11.4vw;
  left: 7vw;
  z-index: 0;
}

.frame {
  width: 34vw;
  position: absolute;
}

.text-container {
  width: 67vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
}

.button-container .reset-button {
  font-family: "Simpsons";
  font-size: 3vw;
  color: white;
  border: none;
  border-radius: 17%/36%;
  padding: 2vw;
  background-color: #5161ac;
}
